body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightblue;

}

canvas {
  background: beige;
  position: center;
  width: 700px;
  height: 400px;
  border: 2px solid black;
}

button {
  font-size: 15px;
}

button:hover {
  background-color: tan;
}

input {
  padding: 4px;
}

.form {
  margin: 15px;
}
